<h1 class="text-center my-2 text-secondary">my stats</h1>
<div class="d-flex flex-nowrap overflow-auto mx-2 gap-2 stat-list py-2">
  <div class="stat-card rounded d-flex flex-column align-items-center">
    <p>Games</p>
    <%= image_tag "flights.png", alt: "text" %>
    <h2>93</h2>
  </div>
  <div class="stat-card rounded d-flex flex-column align-items-center">
    <p>Games</p>
    <%= image_tag "flights.png", alt: "text" %>
    <h2>93</h2>
  </div>
  <div class="stat-card rounded d-flex flex-column align-items-center">
    <p>Games</p>
    <%= image_tag "flights.png", alt: "text" %>
    <h2>93</h2>
  </div>
  <div class="stat-card rounded d-flex flex-column align-items-center">
    <p>Games</p>
    <%= image_tag "flights.png", alt: "text" %>
    <h2>93</h2>
  </div>
  <div class="stat-card rounded d-flex flex-column align-items-center">
    <p>Games</p>
    <%= image_tag "flights.png", alt: "text" %>
    <h2>93</h2>
  </div>
</div>
