<div class="main container pb-5" style="background-image: linear-gradient(rgba(150, 150, 150, 0.3), rgba(150, 150, 150,0.3)), url(<%=  image_path('sky.GIF') %>); background-repeat: no-repeat; background-size: cover;">
  <%= render "shared/bottom_navbar" %>
  <div class="w-100 p-2">
    <%= render "shared/user_card" %>
    <%= render "flights" %>
  </div>
  <%= render "badges" %>
</div>
