<div data-controller="gamebutton">
  <div id="ar">
    <a-scene vr-mode-ui='enabled: false' arjs='sourceType: webcam; videoTexture: true; debugUIEnabled: false' renderer='antialias: true; alpha: true;' >
      <a-camera gps-camera rotation-reader></a-camera>
      <a-entity gltf-model="<%= "/models/airplanes/airplane_#{['red','blue'].sample}.gltf" %>" position="<%= "0 #{@flight.altitude} 0 "%>" scale="20 20 20" gps-entity-place="<%= "latitude: #{@flight.latitude}; longitude:#{@flight.longitude}" %>"/>
    </a-scene>
    <div class="centered-top">
        <div class="round-dashed-circle" data-gamebutton-target="dashedSquare"></div>
      </div>
      <div class="centered" data-gamebutton-target="button">
        <button data-action="click->gamebutton#showQuiz"
          class="btn rounded-circle start-btn">
          <i class="fa-solid fa-plane-up"></i>
        </button>
      </div>
    </div>
    <div class="form-container d-none" data-gamebutton-target="quiz">
      <div class="form-container-grid">
        <%= simple_form_for @game do |f| %>
          <%= f.input :arrival_airport_guess_id,
                as: :radio_buttons,
                collection_wrapper_tag: 'div',
                collection_wrapper_class: 'arrival-airport-wrapper',
                item_wrapper_class: 'arrival-airport-item',
                input_html: {class: 'arrival-airport-selector'},
                collection: @arrival_airports %>
          <%= f.hidden_field :flight_id, value: @flight.id.to_i %>
          <%= f.submit 'Catch this flight!', class: 'button-catch' %>
        <% end %>
      </div>
      </div>
    </div>
