<h1><%= @flight.flight_number %></h1>
<h2><%= @game.flight.flight_number %></h2>
<h2><%= @game.user.username %></h2>
<div class="container">
  <h1>Play!</h1>
  <%= simple_form_for @game do |f| %>
    <%= f.input :arrival_airport_guess_id, collection: @airports %>
    <%#= f.input :departure_airport_guess_id, collection:  @airports %>
    <%#= f.input :airline_guess_id, collection: @airline %>
    <%= f.submit 'Catch this flight!', class: 'btn mt-2'%>
  <%end%>
</div>
