<div class='container pb-5 min-vh-100 d-flex flex-column mt-3'>
  <%= render 'shared/user_card' %>
  <!-- Display flight ticket -->
  <div class="flight-ticket-container d-flex justify-content-center mb-3">
    <%= render 'shared/flight_ticket', flight: @game.flight %>
  </div>
  <div class='results-title text-center bg-light'>
    <h1>Results</h1>
  </div>
  <!-- Results Section -->
  <div data-controller='reveal' class='d-flex flex-column bg-light'>
    <div class='d-flex justify-content-between bg-light'>
      <div class="bg-light p-3 rounded fs-2 fw-bolder mb-2">
        <% @results[:questions_results].each do |question_result| %>
          <% if question_result[:correct] %>
            <span data-reveal-target='icon' class="text-success fw-bold d-none">✅</span>
          <% else %>
            <span data-reveal-target='icon' class="text-danger fw-bold d-none">❌</span>
          <% end %>
        <% end %>
      </div>
      <!-- Score Display -->
      <div data-reveal-target="item" data-action="reveal:show->score#animateScore" class="hidden d-flex justify-content-between align-items-center bg-light p-3 fs-3 fw-bold">
        <div class="fs-3 me-1">+</div>
        <span data-controller='score' data-score-target-value="<%= @game.score %>" data-score-duration-value='1000'>0</span>
        <div class="fs-3 ms-1">miles</div>
      </div>
    </div>
    <!-- New Badges -->
    <% if @new_badges.any? %>
      <div data-reveal-target="badges" class='d-none'>
        <%= render 'new_badges', new_badges: @new_badges %>
      </div>
    <% end %>
  </div>
  <!-- Buttons always at the bottom -->
  <div class='d-flex justify-content-between mt-auto pt-3'>
    <%= link_to 'Dashboard', main_path, class:"bottom-btn", data: {action: "click->page#removeFullscreen"} %>
    <%= link_to 'Play again', game_load_path, class:"bottom-btn" %>
  </div>
</div>
</div>
