<div class='container mt-4'>
  <%= render 'shared/user_card' %>
  <h1 class='text-center'>Game Results</h1>
  <% @results.each do |result| %>
    <%= render 'result', result: result %>
  <% end %>
  <div class='text-center mt-3'>
    <h4 class='fw-bold'>
      Game score: <%= @game.score %>
    </h4>
  </div>
  <div class='text-center mt-3'>
    <h4>Total points: <%= @game.user.points %>
    </div>
    <div class='d-flex justify-content-between mt-3'>
      <%= link_to 'Dashboard', main_path, class: 'btn btn-primary' %>
      <%= link_to 'Play again', game_play_path, class: 'btn btn-primary' %>
    </div>
  </div>
